[data-theme="dark"] {
  background-color: #212121 !important;
  color: #eee;
}

[data-theme="dark"] .project-note {
  color: lightgray;
  font-size: .7rem;
  font-style: italic;
  margin-top: 8px;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}
[data-theme="dark"] .nav-link {
  
  color: white !important;
}
[data-theme="dark"] a:hover {
  
  color: rgb(139, 139, 139) !important;
}
[data-theme="dark"] .btn {
  color: #eee;
  background-color: #2e2d2d !;
  outline-color: #eee!important;
}

[data-theme="dark"] .lead {
  
    color: #eee
}
[data-theme="dark"] .navbar-light {
  
    background-color: #212121;
}

[data-theme="dark"] .navbar-light .navbar-brand {
  color: white;
}

[data-theme="dark"] .btn-link {
  background-color: #212121
}

[data-theme="dark"] a:hover {
    text-decoration: none;
}

[data-theme="dark"] .card {
  background-color: #2e2d2d !important;
  color: #eee;
}
[data-theme="dark"] .btn-lg { 
  border-color: #eee !important;
}
[data-theme="dark"] .alert {
  background-color: #212121 !important;
  color: #eee;
  outline-color: #212121;
}
[data-theme="dark"] .badge-light {
  background-color: #212121 !important;
  color: #eee;
  outline-color: #212121;
}
[data-theme="dark"] .btn-outline-primary {
  background-color: #212121 !important;
  color: #eee;
  border-color: #212121;
}

[data-theme="dark"] .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='1.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
[data-theme="dark"] .custom-toggler.navbar-toggler {
  border-color: #212121;
} 