* {
  margin: 0;
  --tc: #111;
  --bc: #fff;
  --hc: #1075e2;
}

@media (prefers-color-scheme: dark) {
  * {
    --tc: #fff;
    --bc: #27292f;
    --hc: #1075e2;
  }
  a {
    color: #00aaff !important;
  }
  a::before {
    background-color: transparent !important;
  }
  
  a:hover::before {
  display: none !important;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

#h {
  margin-top: 6rem;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.5rem;
}

hr {
  border: .5px solid #8c8c8c;
  margin: 40px 0px;
  opacity: .6;
}

body {
  font: 18px -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.7;
  color: var(--tc);
  background: var(--bc);
  margin: 0 auto;
  padding: 0 0.7em;
}

a {
  text-decoration: none;
  color: #18272F;
  font-weight: 700;
  position: relative;
}

a::before {
  content: '';
  background-color: rgb(255, 255, 0);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
br,
header,
ul {
  margin-bottom: 1em;
}

ul {
  padding-left: 1em;
}

br {
  content: " ";
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

header>a {
  font-size: 1.7em;
  font-weight: 700;
}

nav a {
  margin-left: 0.75em;
}

#h>h3 {
  margin-bottom: 1rem;
}
.container {
  display: flex;
}